<XmlSerializerReplacementHandlerTestConfig type="MySpace.ConfigurationSystem.TestConsole.XmlSerializerReplacementHandlerTestConfig, MySpace.ConfigurationSystem.TestConsole" xmlns="http://myspace.com/XmlSerializerReplacementHandlerTestConfig.xsd"><TestBool>true</TestBool></XmlSerializerReplacementHandlerTestConfig>