<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="ConfigurationSystemServerConfig" type="MySpace.ConfigurationSystem.ConfigurationSystemServerConfig, MySpace.ConfigurationSystem.Server"/>
	</configSections>

	<ConfigurationSystemServerConfig    
    port="9000"
    mappingConfigPath="SectionMapping.xml"    
		mappingConfigProvider="FileProvider"
    />

	<appSettings>
		<add key="LoggingConfigFile" value="Logging.ConfigurationServer.config"/>
	</appSettings>
	
	<!-- this is necessary because the compression library, which is mixed mode, is built against CLR 3.5. When that library is built against 4.0, a newer C runtime that most machine have
	is required to be installed, otherwise a very unhelpful "file not found" exception is thrown from inside the runtime -->
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

</configuration>