<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="ConfigurationSystemClientConfig" type="MySpace.ConfigurationSystem.ConfigurationSystemClientConfig, MySpace.ConfigurationSystem.Client"/>
    <section name="MySection" type="MySpace.ConfigurationSystem.XmlSerializerReplacementHandler, MySpace.ConfigurationSystem.Client"/>    
  </configSections>
  
  <ConfigurationSystemClientConfig />

  
  
  <!--<MySection useLocal="true" localFileName="MySection.config"/>-->
  <MySection configSource="MySection.config"/>
  
  <appSettings>
    <add key="LoggingConfigFile" value="Logging.ConfigurationClient.config"/>
  </appSettings>
  
</configuration>