<?xml version="1.0" encoding="utf-8" ?>
<MySection type="MySpace.XmlSerializerExample.MySection, MySpace.XmlSerializerExample" xmlns="http://myspace.com/MySection.xsd">
  <MyString>I am a string</MyString>
  <MyInt>42</MyInt>
  <MyListOfStuffs>
    <Stuff>Thing 1</Stuff>
    <Stuff>Blue Thing</Stuff>
  </MyListOfStuffs>
</MySection>